.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.link div {
    display: flex;
    gap:  20px;
    flex-wrap: wrap;
}
.link a {
    text-decoration: none;
    background-color: var(--green);
    border-radius: 10px;
    width: 200px;
    text-align: center;
    color: black;
}

.salt {
    position: relative;
    width: 100%;
}

.link h2 {
    font-weight: bold;
}

.salt img {
    width: 100%;
    margin: 20px;
}

.salt h3 {
    position: absolute;
    padding: 50px;
    font-size: 5rem;
    color: green;
}

.salt a {
    position: absolute;
    translate: 100px 150px;
}

@media (max-width: 765px) {
    .link div {
        flex-direction: column;
    }

    .salt h3 {
        font-size: 1.5rem;
        padding: 5px;
    }

    .salt a {
        translate: 0px 60px;
        width: fit-content;
        font-size: 0.7rem;
    }
    .salt img {
        margin: 0;
    }
}