.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.link div {
    display: flex;
    gap:  20px;
    flex-wrap: wrap;
}
.link a {
    text-decoration: none;
    background-color: var(--green);
    border-radius: 10px;
    width: 200px;
    text-align: center;
    color: black;
}

.link h2 {
    font-weight: bold;
}

.link img {
    width: 100%;
}

@media (max-width: 765px) {
    .link div {
        flex-direction: column;
    }
}