.link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.link a {
    text-decoration: none;
    background-color: var(--green);
    border-radius: 10px;
    width: 200px;
    text-align: center;
    color: black;
}

.link h2 {
    font-weight: bold;
}