.valde article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valde h2{
    text-align: center;
}

.valde img {
    width: 100%;
}

.valde p {
    padding: 20px;
}

@media (min-width: 765px) {
    .valde article {
        flex-direction: row;
        background-color: antiquewhite;
        margin: 20px;
    }

    .valde img {
        max-width: 800px;
    }

    .entradas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}