.valde article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.valde h2{
    text-align: center;
}

.valde img {
    width: 100%;
    display: block;
}

.valde p {
    padding: 20px;
}

.buyol h3 {
    text-align: center;
}

@media (min-width: 765px) {
  .valde article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-color: antiquewhite;
    margin: 20px;
    padding: 20px;
  }

  .valde img {
    width: 50%;
    max-width: 800px;
    height: 500px;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
  }

  .entradas {
    width: 50%;
  }
}