.ok {
    color: green;
}

.error {
    color: red;
}

.form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form div {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 20px;
}

.form div:last-child {
    height: 100px;
}

.form input {
    width: fit-content;
}

.form button {
    background-color: green;
    padding: 5px;
}