.verMasImg {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.verMasImg a {
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: green;
    color: black;
}
/*********Booking****************/
.booking {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nota {
    width: 19rem;
    margin-right: 0px;
}

.descripcion {
    display: flex;
    flex-direction: column;
    margin: 50px 150px;
    border: solid 1px black;
    padding: 20px;
    font-weight: var(--lato-bold);
    background-color: var(--green);
}

.descripcion h2 {
    text-align: center;
    margin-bottom: 10px;
}


.descripcion p {
  text-align: center;
}

.precio {
    background-color: var(--green);
    margin: 50px 150px;
    border: solid 1px black;
    padding: 20px;
    font-weight: var(--lato-bold);
    text-align: center;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 150px;
    border: solid 3px blue;
    padding: 20px;
    font-weight: var(--lato-bold);
    text-align: center;
    background-color: white;
}
.review ul {
    display: flex;
    flex-direction: column;
}

.li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.review img {
    width: 30px;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .menu {
        position: absolute;
        left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }
    .descripcion {
        margin: 30px 30px;
    }
    .precio {
        margin: 30px 30px;
    }
    .review {
        margin: 30px 30px;
    }
}

